<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Mail List</title>
</head>
<body>

    <ul id="mail_list">
        <h1>Lunghezza della mail list: {{ listLength }}</h1>
        <li v-if="mailList.length === listLength" v-for="mail, i in mailList" :key="i">
            {{ mail }}
        </li>
    </ul>
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="main.js"></script>

</body>
</html>